<!DOCTYPE html>
<html>
<head>
    <title>Animal Classification</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Animal Image Classification</h2>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h3>Prediction: {{ prediction }}</h3>
    {% endif %}
</div>

</body>
</html>