body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

button {
    padding: 8px 20px;
    margin-top: 10px;
}